<%if Helpers.is_logged_in?(session)%>
  <%@user = Helpers.current_user(session)%>
  <div class="jumbotron">
    <h2>Let's change things...</h2>
    <br></br>

    <%if @user.id == @event.user_id%>
      <form action '/events/<%=@event.id%>/edit' method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
        <p class="lead">Event Name: <input type="string" name="name" value="<%=@event.name%>"></p>
    
        <input type="hidden" name="user_id" value=<%=@user.id%>>
        
        <p><textarea rows="5" cols="60" name="details"><%=@event.details%></textarea></p>
  </div>
  <div class="container">
    <div class="col-sm-4">
        <p class="lead">Changing up the guest list?</p>
            <%User.all.each do |guest|%>
              <%if guest.username != @user.username%>
                <input type="checkbox" name="guest_ids[]" value="<%=guest.id%>"<%='checked' if @event.users.include?(guest)%>><%=guest.username%></input>
              <%end%>
            <%end%>
    </div>
    <div class="col-sm-4">
        <p class="lead">Changing activities?</p>
            <%Activity.all.each do |activity|%>
              <input type="checkbox" name="activity_ids[]" value="<%=activity.id%>"<%='checked' if @event.activities.include?(activity)%>><%=activity.name%></input>
            <%end%>
        <br></br>
    </div>
    <div class="col-sm-4">
        <p class="lead">Add a new activity if ya want</p>
          <input type="text" name="new_activity[]" placeholder="New Activity"></input>
          <br></br>
          <input type="text" name="new_activity[]" placeholder="New Activity"></input>
          <br></br>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Update the Info</button>
      </form>
    <%else%>
      <p>Sorry, but you have to be the maker of an event to edit the event.  Head back to your <a href="users/<%=@user.id%>/homepage">homepage</a> and try again.</p>
    <%end%>
<%else%>
  <p>Sorry, but you have to <a href="/users/new">register</a> or <a href="/users/login">login</a> to change events.</p>
<%end%> 
  


